
<div class="dropdown " >
    <button class="btn btn-danger dropdown-toggle btn2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      All Icons
    </button> 
    <ul class="dropdown-menu dropdown-menu-blue">
    <div class="filters">
        <li><div class="fliter">
            <div><i class="fa-solid fa-fire"></i></div>
            <a href="/listings/trending"><p>Trending</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-ship"></i></div>
            <a href="/listings/boats"><p>Boats</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-bed"></i></div>
            <a href="/listings/rooms"><p>Rooms</p></a>
       </div> </li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-tent"></i></div>
            <a href="/listings/camping"><p>Camping</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-tower-observation"></i></div>
            <a href="/listings/towers"><p>Towers</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-umbrella-beach"></i></i></div>
            <a href="/listings/beach"><p>Beach</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <a href="/listings/pools"><p>Pools</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-mountain"></i></div>
            <a href="/listings/mountain"><p>Mountains</p></a>
        </div></li>
        <li> <div class="fliter">
            <div><i class="fa-brands fa-fort-awesome-alt"></i></div>
            <a href="/listings/castle"><p>castle</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-cow"></i></div>
            <a href="/listings/farms"><p>Farms</p></a>
        </div></li>
        <li><div class="fliter">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <a href="/listings/mountain-city"><p>Mountain-city</p></a>
        </div></li>
    </div>
</ul>
</div>

