<%layout("/layouts/boilerplate")%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <form method="post" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add an title" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                    <div class="invalid-feedback">Title must be Entered</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]"  class="form-control" required></textarea>
                    <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Description must be Entered</div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Upload Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control">
                </div>
                <div class="row">
                    <div class="mb-3 col-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" name="listing[price]" placeholder="2000" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Price must be Entered</div>
                        
                    </div>
                    <div class="mb-3 col-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Andhra pradesh" class="form-control" required>
                    <div class="invalid-feedback">Location must be Entered</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleDataList" class="form-label">category</label>
                    <select class="form-select form-control" name="listing[category]" required>
                        <option value="" disabled selected>Select a category</option>
                        <option value="Trending">Trending</option>
                        <option value="Boats">Boats</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Camping">Camping</option>
                        <option value="Towers">Towers</option>
                        <option value="Beach">Beach</option>
                        <option value="Pools">Pools</option>
                        <option value="Mountains">Mountains</option>
                        <option value="castle">castle</option>
                        <option value="Farms">Farms</option>
                        <option value="Mountain-city">Mountain-city</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control"required>
                        <div class="invalid-feedback">Country must be Entered</div>
                </div>
                <br> <br>
                <button class="btn btn-dark pinkBtn">Add</button>
            </form>
        </div>
    </div>
</body>
